
html {
	height: 100%;
	width: 100%;
	border-top: 1px solid transparent;
	display: table;
}

body {
	background-image: -webkit-linear-gradient(top,  #A1B0D0, #C7D4E7);
	background-image: linear-gradient(to bottom,  #A1B0D0, #C7D4E7);
	color: #5F6888;
	position: relative;
	width: 100%;
	height: 100%;
	border-top: 1px solid transparent;
	display: table-cell;	
	vertical-align: middle;
}

body:before {
	content: "";
	background: url("../img/brain.jpg") no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.1;
}

a {
	color: #5F6888;
}

ul {
	padding: 0;
	margin: 0;
}
[ng-click] {
	cursor: pointer;
}
ng-include, [ng-include], .ng-includ {
	width: 100%;
	height: 100%;
}
a:hover {
	text-decoration:none;
	color: #5F6888;
}

#decks-list {
	margin: 20px 0;
}

.badge {
	background: #5F6888;
}

.card-wrapper {
	width: 100%;
	height: 100%;
	position: relative;
  	-webkit-perspective: 800px;
}

.stack {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
}

.stack li {
	position: absolute;
	opacity: 0;
	top: 0;
    left: 100%;
	float: left;
	width: 360px;
	height: 100%;
	margin-right: 20px;
	-webkit-transition: 1s ease-out;
	transition: 1s ease-out;
}
.stack li.active {
	left: 0;
	display: block;
	opacity: 1;
}
.stack li.learned {
	left: -100%;
	width: 0;
}

.main-wrapper {
	display: table-cell;
	vertical-align: middle;
}

section {
	position: relative;
	z-index: 1;
	width: 400px;
	height: 450px;
	margin: 0 auto;
	background:  #E7E9EF;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 8px 0 #5F6888;
}

input {
	width: 100%;
	padding: 10px 15px;
	height: 48px;

}
textarea {
	width: 100%;
	margin: 20px 0 20px 0;
	padding: 10px 15px;
}
.list-group-item {
	padding: 0;
	overflow: hidden;
}
.list-group-item a {
	overflow: hidden;
	font-weight: bold;
	display: block;
	float: left;
	padding: 10px 15px;
	width: 74%;
}
.list-group-item a.disable {
	color: rgba(95,104,136,0.23);
}
.list-group-item a.card-edit {
	float: right;
	width: auto;
	padding: 0;
	margin: 0;
}
.list-group-item a.card-edit span {
	margin-right: 0px;
}
.list-group-item .badge,  .list-group-item .glyphicon{
	float: right;
	margin: 13px 10px 0;
}
#decks-list li {
	background:  #F3F4F8;
	-webkit-transition: 0.15s;
	transition: 0.15s;
}
.list-item-title{
	float:left;
	display: inline-block;
	height: 100%;
	overflow: hidden;
}
#decks-list li:hover {
	z-index: 1;
	box-shadow: 0 0 4px 0 #aaa;
	background: #fdfdfd;
}
.card {
	width: 100%;
	margin: 5px;
	height: 100%;
	position: absolute;
	border-radius: 5px;
	box-shadow: 0 0 6px 0 #888;
}
.card .card-frontside {
	height: 100%;
}
.card-frontside {
	height: 100%;
	width: 100%;
	background: #fff;
	-webkit-transition: 2s;
	transition: 2s;
		border-radius: 5px;
}
.card-title-wrapper {
	display: table;
	width: 100%;
	height: 90%;
}
.card-frontside .card-title{
	display: table-cell;
	vertical-align: middle;
	font-size: 20px;
	font-weight: bold;
	padding: 0 20px;
}
.card-backside {
	background: #ddd;
	height: 100%;
	width: 100%;
	background: #fff;
	-webkit-transform: rotateY( 180deg );
	        transform: rotateY( 180deg );
	border-radius: 5px;
}

.card-backside-text {
	height: 85%
}
.card-backside-pannel {
	height: 15%;
}
.card-backside .card-title{
	padding: 50px 15px 20px;
	font-size: 20px;
	font-weight: bold;
}
.card-backside .card-description{
	font-size: 18px;
	padding: 30px 0 30px 0;
}
.card {
	height: 410px;
	width: 360px;
	margin: 0;
	text-align: center;
	-webkit-transform-style: preserve-3d;
  	-webkit-transition: 1s;
  	transition: 1s;
}
.card>div {
	margin: 0;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	position: absolute;
}
.active .card.flipped {
  -webkit-transform: rotateY( 180deg );
          transform: rotateY( 180deg );
}

/*----------  Settings  ----------*/
.intervals {
	list-style: none;
	position: relative;
}
.intervals li {
	overflow: hidden;
	text-align: center;
	border-bottom:1px solid #DDD;
}

.intervals li .interval span {
	display: block;
	cursor: pointer;
	margin: 3px;
	transition: 0.3s;
}

.intervals li .interval span:hover {
	box-shadow: 0 0 8px 0 #5F6888;
}

.intervals li .interval:first-child{
	float: left;
	width: 50%;												
}

.intervals li .interval:last-child{
	float: right;
	width: 50%;
	background: #E7E9EF;												
}

.interval form {
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
	padding: 5px;
	box-shadow: 0 0 8px 0 #5F6888;
}

.interval form .labels {
	margin-right: 55px;
}

.interval form .labels label {
	width: 33.33%;
	text-align: center;
}

.interval form input, .interval form button{
	display: inline-block;
	width: 25%;
	height: auto;
	padding: 0;
}

.interval form button {

}