<h1>Настройки</h1>
	<ul class="list-group" ng-controller='SettingsCtrl'>
		<li class="list-group-item">
			<a href="#/deck/{{deckId}}">
				<div class="list-item-title">Назад</div>
			</a>
		</li>
		<li class="list-group-item">
				<a>
					<div class="list-item-title" style='float: none;'>Интервалы</div>
				<ul class='intervals'>
					<li class="intervals-item" ng-repeat='stage in intervals  track by $index' ng-init="level = $index">
							<div class='interval'
							ng-repeat='milliseconds in stage  track by $index'
							ng-init="nmb= $index"
							><span editable-time-interval
							ms="milliseconds"
							on-change-interval="changeInterval(deck, level, nmb, interval)">{{milliseconds | dhmsFormat1}}</span>
							</div>
					</li>
				</ul>
				</a>
		</li>
	</ul>

